<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<h1><%= @msgTerminado%></h1>
<center>

<%if( @msgTerminado=="Has Ganado")%>
	<img src="img/bug_1.png" />
<%else%>
	<img src="img/bug_evil.jpg" />
<%end%>
	<br/>
	<form action="/">
		<input type="submit" value="Jugar de nuevo" />
	</form>
</center>
</body>
</html>
