<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<h1>Find my Bugs!</h1>
<h2>
	<h2 style="text-align: center">
	Ingresa los bugs de tu código utilizando las cordenadas,<br/>
	para que tu contrincante intente encontrarlos. </br>
	Solo se permite ingresar 3 Bugs
	</h2>

	<table class="tablero">	
		<tr><td class="header"></td><td class="header">a</td><td class="header">b</td><td class="header">c</td><td class="header">d</td></tr>
		<tr>
			<td class="header">1</td><td>
				<img src="./img/bug_<%=@tableroJugador1[0]%>.png" width="50px" height="50px">
			</td>
			<td>
				<img src="./img/bug_<%=@tableroJugador1[1]%>.png" width="50px" height="50px">
			</td>
			<td>
				<img src="./img/bug_<%=@tableroJugador1[2]%>.png" width="50px" height="50px">
			</td>
			<td>
				<img src="./img/bug_<%=@tableroJugador1[3]%>.png" width="50px" height="50px">
			</td>
		</tr>
		<tr>
			<td class="header">2</td><td>
				<img src="./img/bug_<%=@tableroJugador1[4]%>.png" width="50px" height="50px">
			</td>
			<td>
				<img src="./img/bug_<%=@tableroJugador1[5]%>.png" width="50px" height="50px">
			</td>
			<td>
				<img src="./img/bug_<%=@tableroJugador1[6]%>.png" width="50px" height="50px">
			</td>
			<td>
				<img src="./img/bug_<%=@tableroJugador1[7]%>.png" width="50px" height="50px">
			</td>
		</tr>
		<tr>
			<td class="header">3</td><td>
				<img src="./img/bug_<%=@tableroJugador1[8]%>.png" width="50px" height="50px">
			</td>
			<td>
				<img src="./img/bug_<%=@tableroJugador1[9]%>.png" width="50px" height="50px">
			</td>
			<td>
				<img src="./img/bug_<%=@tableroJugador1[10]%>.png" width="50px" height="50px">
			</td>
			<td>
				<img src="./img/bug_<%=@tableroJugador1[11]%>.png" width="50px" height="50px">
			</td>
		</tr>
		<tr>
			<td class="header">4</td><td>
				<img src="./img/bug_<%=@tableroJugador1[12]%>.png" width="50px" height="50px">
			</td>
			<td>
				<img src="./img/bug_<%=@tableroJugador1[13]%>.png" width="50px" height="50px">
			</td>
			<td>
				<img src="./img/bug_<%=@tableroJugador1[14]%>.png" width="50px" height="50px">
			</td>
			<td>
				<img src="./img/bug_<%=@tableroJugador1[15]%>.png" width="50px" height="50px">
			</td>
		</tr>

	</table>
	<center>
	<form action="/ingresar_bug" method="post">
		<select name="fila">
			<option>a</option>
			<option>b</option>
			<option>c</option>
			<option>d</option>
		</select>
		<select name="columna">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
		</select>
		<input type="submit" value="Ingresar Bug">
	</form>
	<h2><%=@mensaje%> </h2>
	<% if(@verIniciar) %>
		<form action="/tablerojugar">
			<input type="submit" value="Iniciar Juego">
		</form>
	<% end %>
	</center>
</body>

</html>
