<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<h1>Find my Bugs!</h1>
	
	
	<center>

	<table>
	<tr>
	<td>
	<center>Mi Tablero</center>
	
	<table class="tablero">	
		<tr><td class="header"></td><td class="header">a</td><td class="header">b</td><td class="header">c</td><td class="header">d</td></tr>
		<tr>
			<td class="header">1</td><td>
				<img src="./img/bug_<%=@tableroJugador1[0]%>.png" width="50px" height="50px">
			</td>
			<td>
				<img src="./img/bug_<%=@tableroJugador1[1]%>.png" width="50px" height="50px">
			</td>
			<td>
				<img src="./img/bug_<%=@tableroJugador1[2]%>.png" width="50px" height="50px">
			</td>
			<td>
				<img src="./img/bug_<%=@tableroJugador1[3]%>.png" width="50px" height="50px">
			</td>
		</tr>
		<tr>
			<td class="header">2</td><td>
				<img src="./img/bug_<%=@tableroJugador1[4]%>.png" width="50px" height="50px">
			</td>
			<td>
				<img src="./img/bug_<%=@tableroJugador1[5]%>.png" width="50px" height="50px">
			</td>
			<td>
				<img src="./img/bug_<%=@tableroJugador1[6]%>.png" width="50px" height="50px">
			</td>
			<td>
				<img src="./img/bug_<%=@tableroJugador1[7]%>.png" width="50px" height="50px">
			</td>
		</tr>
		<tr>
			<td class="header">3</td><td>
				<img src="./img/bug_<%=@tableroJugador1[8]%>.png" width="50px" height="50px">
			</td>
			<td>
				<img src="./img/bug_<%=@tableroJugador1[9]%>.png" width="50px" height="50px">
			</td>
			<td>
				<img src="./img/bug_<%=@tableroJugador1[10]%>.png" width="50px" height="50px">
			</td>
			<td>
				<img src="./img/bug_<%=@tableroJugador1[11]%>.png" width="50px" height="50px">
			</td>
		</tr>
		<tr>
			<td class="header">4</td><td>
				<img src="./img/bug_<%=@tableroJugador1[12]%>.png" width="50px" height="50px">
			</td>
			<td>
				<img src="./img/bug_<%=@tableroJugador1[13]%>.png" width="50px" height="50px">
			</td>
			<td>
				<img src="./img/bug_<%=@tableroJugador1[14]%>.png" width="50px" height="50px">
			</td>
			<td>
				<img src="./img/bug_<%=@tableroJugador1[15]%>.png" width="50px" height="50px">
			</td>
		</tr>

	</table>
	
	<td>
	<center>Impactos a PC</center>


	
	<table class="tablero">	
		<tr><td class="header"></td><td class="header">a</td><td class="header">b</td><td class="header">c</td><td class="header">d</td></tr>
		<tr>
			<td class="header">1</td><td>
				<img src="./img/impact_<%=@tableroJugadas[0]%>.png" width="50px" height="50px">
			</td>
			<td>
				<img src="./img/impact_<%=@tableroJugadas[1]%>.png" width="50px" height="50px">
			</td>
			<td>
				<img src="./img/impact_<%=@tableroJugadas[2]%>.png" width="50px" height="50px">
			</td>
			<td>
				<img src="./img/impact_<%=@tableroJugadas[3]%>.png" width="50px" height="50px">
			</td>
		</tr>
		<tr>
			<td class="header">2</td><td>
				<img src="./img/impact_<%=@tableroJugadas[4]%>.png" width="50px" height="50px">
			</td>
			<td>
				<img src="./img/impact_<%=@tableroJugadas[5]%>.png" width="50px" height="50px">
			</td>
			<td>
				<img src="./img/impact_<%=@tableroJugadas[6]%>.png" width="50px" height="50px">
			</td>
			<td>
				<img src="./img/impact_<%=@tableroJugadas[7]%>.png" width="50px" height="50px">
			</td>
		</tr>
		<tr>
			<td class="header">3</td><td>
				<img src="./img/impact_<%=@tableroJugadas[8]%>.png" width="50px" height="50px">
			</td>
			<td>
				<img src="./img/impact_<%=@tableroJugadas[9]%>.png" width="50px" height="50px">
			</td>
			<td>
				<img src="./img/impact_<%=@tableroJugadas[10]%>.png" width="50px" height="50px">
			</td>
			<td>
				<img src="./img/impact_<%=@tableroJugadas[11]%>.png" width="50px" height="50px">
			</td>
		</tr>
		<tr>
			<td class="header">4</td><td>
				<img src="./img/impact_<%=@tableroJugadas[12]%>.png" width="50px" height="50px">
			</td>
			<td>
				<img src="./img/impact_<%=@tableroJugadas[13]%>.png" width="50px" height="50px">
			</td>
			<td>
				<img src="./img/impact_<%=@tableroJugadas[14]%>.png" width="50px" height="50px">
			</td>
			<td>
				<img src="./img/impact_<%=@tableroJugadas[15]%>.png" width="50px" height="50px">
			</td>
		</tr>

	</table>
	
	</td>
	</tr>
</table>
</center>
	<div class="ingreso">
	<form action="/jugar" method="post">
		<select name="fila">
			<option>a</option>
			<option>b</option>
			<option>c</option>
			<option>d</option>
		</select>
		<select name="columna">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
		</select>
		<input type="submit" name="jugar" value="Jugar!" />
	</form>
	</div>
	<%if(@resultadoJugada!=nil)%>
	<h1>Jugaste y tu resultado fue <%=@resultadoJugada%></h1>
	<%end%>
	<hr />
	<%if(@resultPC!=nil)%>
		<h1>El PC Jugo y <%=@resultPC%></h1>
	<%end%>
	<input type="hidden" name="jugadaPC" value="<%=@jugadaPC%>" />	
</body>

</html>
