body {
	margin-top: 50px;
    background: #FFFFFF;
    font: serif;
}

h1 {
    text-align: center;
    color: #000000;
}

td {
	text-align: center;
    padding: 10px;
    background: #FFFFFF;
}

.header {
    text-align: center;
    font-weight: bold;
    color: #FDF23E;
    background: #FF3D84;
}

.tablero {
    width: 220px;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 50px;
}

.ingreso {
	text-align: center;
    padding: 10px;
    width: 40%;
	margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

input[type="submit"] {
	padding: 10px;
}

input[type="text"] {
	padding: 10px;
}


select {
	padding: 10px;
}

